{% load i18n movie_tag %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <nav class="py-4">
            <div id="logo">
                <h1><a href="{% url 'index' %}" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro;, sans-serif;">MoVieFinder</a>
                </h1>
            </div>

            <ul class="menu mt-2">
                <li class="active"><a href="{% url 'index' %}">{% trans 'Главная' %}</a></li>
                <li>
                    <label for="drop-2" class="toggle">{% trans 'Категории' %} <span
                            class="fa fa-angle-down" aria-hidden="true"></span> </label>
                    <a href="#">{% trans 'Категории' %} <span class="fa fa-angle-down"
                                                aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% get_categories as categories %}
                        {% for category in categories %}
                            <li><a href="/">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <span>{{ user.username }}</span>
                    <a href="{% url 'account_logout' %}">{% trans 'Выход' %}</a>
                    {% else %}
                    <a href="{% url 'account_login' %}">{% trans 'Вход' %}</a>
                    <a href="{% url 'account_signup' %}">{% trans 'Регистрация' %}</a>
                    {% endif %}
                <li>
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go">
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="banner-info">
    <p class="editContent">{% trans 'Сайт для поиска фильма на вечер' %}</p>
    <h3 class="mb-4 editContent">{% trans 'Вам сюда' %}</h3>
    <div class="ban-buttons">


    </div>
</div>