{% extends 'movies/base.html' %}
{% load i18n %}
{% block title %} {{ movie.title }} {% endblock title %}
{% block container %}
    <div class="container py-md-5">
{% endblock container %}

{% block movie %}
    <div class="left-ads-display col-lg-9">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
            </div>

            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    {{ movie.title }}
                </h3>
                <h5 class="editContent"></h5>
                <ul>
                    <li style="list-style: none">
                        <span><b>{% trans 'Год' %}:</b> {{ movie.year }}</span></li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Страна' %}:</b> {{ movie.country }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Слоган' %}:</b> {{ movie.tagline }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Режиссер' %}:</b>
                            {% for director in movie.directors.all %}
                                {{ director.name }}
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none"><span><b>{% trans 'Актеры' %}:</b>
                        {% for actor in movie.actors.all %}
                            {{ actor.name }}
                        {% endfor %}
                    </span>
                    </li>
                    <li style="list-style: none"><span><b>{% trans 'Жанр' %}:</b>
                        {% for genre in movie.genres.all %}
                            {{ genre.name }}
                        {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none"><span><b>{% trans 'Премьера в мире' %}:</b> {{ movie.world_premiere }}</span></li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Бюджет' %}:</b> ${{ movie.budget }}</span></li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Сборы в США' %}:</b> ${{ movie.fees_in_usa }}</span></li>
                    <li style="list-style: none"><span><b>{% trans 'Сборы в мире' %}:</b> ${{ movie.fess_in_world }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                {% trans 'О фильме' %} {{ movie.title }}
            </h3>
            <p class="editContent" style="outline: none; cursor: inherit;">
                {{ movie.description }}
            </p>
{#                <p class="mt-3 italic-blue editContent"#}
{#                   style="outline: none; cursor: inherit;">#}
{#                    <iframe width="560" height="315"#}
{#                            src=""#}
{#                            frameborder="0" allow="accelerometer; autoplay;#}
{#                                                   encrypted-media; gyroscope; picture-in-picture"#}
{#                            allowfullscreen>#}
{#                    </iframe>#}
{#                </p>#}
        </div>
    </div>
</div>
{% endblock movie %}
